.button{
    position: absolute;
    padding: 0.25rem 0.5rem;
    background-color: white;
    height: 25px;
    width: 36px;
    border-radius: 0.25rem;
    border: 1.5px solid black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#button-1{
    top: 104px;
    left: 205px;
}

#button-2{
    top: 112px;
    left: 244px;
}

#button-3{
    top: 138.5px;
    left: 270px;
    height: 26px;
    width: 38px;
}

#button-4{
    top: 169px;
    left: 281px;
}

#button-5{
    top: 206.5px;
    left: 282px;
}

#button-6{
    top: 234.8px;
    left: 274px;
}


#button-7{
    top: 260px;
    left: 245px;
}

#button-8{
    top: 270px;
    left: 210px;
}

#button-9{
    top: 261px;
    left: 175px;
}

#button-10{
    top: 238px;
    left: 144px;
    height: 26px;
}

#button-11{
    top: 209.5px;
    left: 132px;
    height: 25.25px;
}

#button-12{
    top: 169px;
    left: 132px;
    height: 25.25px;
}

#button-13{
    top: 138.75px;
    left: 144px;
    height: 25.25px;
}

#button-14{
    top: 113px;
    left: 167px;
    height: 25.25px;
}

.positive{
    background-color: green;
}

.negative{
    background-color: red;
}
