// Montserrat font
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

:root {
	font-family: "Montserrat", sans-serif;
	--element-size: 4.15rem;
    font-size: calc(810rem/1335.67);
}

@mixin periodic-label {
	position: absolute;
    font-size: 1rem;
}

@mixin layout($col, $row) {
	display: grid;
	grid-template-columns: repeat($col, var(--element-size));
	grid-template-rows: repeat($row, var(--element-size));
	gap: 0.4rem;
	align-items: center;
	user-select: none;
}

.element {
	border: 1px solid #808080;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3px;
	justify-content: space-between;
	position: relative;
	border-radius: 0.25rem;

	.z {
		font-size: .6rem;
		align-self: flex-start;
	}

	.symbol {
		font-weight: bold;
		font-size: 1.4rem;
	}

	.name {
		font-size: .6rem;
		font-weight: 500;
	}

	&:focus {
		outline: none;
		box-shadow: 0 0 0 1px #2c2b2b;
		// background-color: #808080;
		// box-shadow: 0 0 0 2px inherit, green;
	}
}

.essential {
	background-color: green !important;
}

.beneficial {
	background-color: orange !important;
}

#container {
	width: fit-content;
	display: flex;
	flex-direction: column;
    align-items: end;
	gap: 2rem;
}

.periodic-table {
	@include layout(18, 7);

	// padding for showing labels
	padding-top: 2rem;
	padding-left: 2rem;

	.label-group {
		@include periodic-label();
		left: 50%;
		top: -1.5rem;
		transform: translateX(-50%);
	}

	.label-period {
		@include periodic-label();
		top: 50%;
		left: -1.5rem;
		transform: translateY(-50%);
	}
}

.inner-transition-table {
	@include layout(14, 2);

	// margin-right: 0;
	// width: 100%;

	.label-group {
		@include periodic-label();
		top: 50%;
		left: -6rem;
		transform: translateY(-50%);
        width: 5rem;
        text-align: end;
	}
}
