$red-box-color: #e3181b;
$orange-box-color: #ff7f00;
$yellow-box-color: #faf113;
$green-box-color: #11f10c;

#main {
    width: 818px;
    height: 583px;
    display: inline-block;
}

img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    pointer-events: none;
}

.relative {
    position: relative;
}

.box {
    width: 15px;
    height: 15px;
    position: absolute;
    border: 1px black solid;
    cursor: move;
}

.red {
    background-color: $red-box-color;
    top: 60px;
    left: 545px;
}

.orange {
    background-color: $orange-box-color;
    top: 94px;
    left: 545px;
}

.yellow {
    background-color: $yellow-box-color;
    top: 129px;
    left: 545px;
}

.green {
    background-color: $green-box-color;
    top: 165px;
    left: 545px;
}